name: Explore Contexts
on:
  push:
    branches: [dev, main]

  pull_request:
    types: [opened, synchronize, reopened, edited, closed]
    branches:
      - dev
      - main

  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy
        required: true
        type: choice
        options:
          - dev
          - stg
          - prd
        default: dev

      action:
        description: Action to perform
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
        default: plan

permissions:
  contents: read
  id-token: write
  pull-requests: read

jobs:
  dev-job:
    if: github.ref_type == 'branch' && github.ref_name == 'dev'
    environment: dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Explore contexts (dev)
        uses: ./.github/workflows/reusable_context_explorer.yaml
        with:
          environment: dev

  stg-job:
    if: github.ref_type == 'branch' && github.ref_name == 'main'
    environment: stg
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Explore contexts (stg)
        uses: ./.github/workflows/reusable_context_explorer.yaml
        with:
          environment: stg

  prd-job:
    if: github.ref_type == 'tag' && github.ref_name == 'v_*'
    environment: prd
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Explore contexts (prd)
        uses: ./.github/workflows/reusable_context_explorer.yaml
        with:
          environment: prd