name: Explore Contexts
on:
  # Pull request targeting dev (dev environment) or main branch (stg environment)
  #   [opened, synchronize, reopened, edited]
        # github.event_name == "pull_request" &&
        # github.base_ref == "dev" || github.base_ref == "main" &&
        # github.event.pull_request.merged == false
  #   Terraform plan only

  #   [closed] and github.event.pull_request.merged == true
        # github.event_name == "pull_request" &&
        # github.base_ref == "dev" || github.base_ref == "main" &&
        # github.event.pull_request.merged == true
  #   Terraform apply (no plan, auto-approve)

  pull_request:
    types: [opened, synchronize, reopened, edited, closed]
    branches:
      - dev
      - main

  # Release published / tagged on main branch (prd environment)
  # Terraform plan, manual approval and apply for each configuration layer
        # github.event_name == "release" &&
        # github.event.action == "published" &&
        # github.base_ref == "main" &&
        # github.ref_type == "tag" &&
        # startsWith(github.ref_name, 'v_')

  release:
    types: [published]

  # Manual trigger with workflow_dispatch for any environment and action
  # Require human confirmation for apply or destroy actions?
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy
        required: true
        type: choice
        options:
          - dev
          - stg
          - prd
        default: dev

      action:
        description: Action to perform
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
        default: plan

permissions:
  # pull-requests: read permits an action to list pull requests, required to act on PR events and to check the base branch of a PR
  pull-requests: read
  # contents: read permits an action to list the commits, required to check the commit messages of a PR or a release, and to check the files changed in a PR
  # This might not be needed in the context of this demo, but it's a common permission for Terraform workflows to check if the changes are only in specific paths (e.g., in a specific folder) to decide if the workflow should run or not  
  contents: read
  # Fetch an OpenID Connect (OIDC) token. This requires id-token: write. For more information,
  # see OpenID Connect: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#updating-your-actions-for-oidc
  id-token: write
 
jobs:
  summary:
    environment: prd
    runs-on: ubuntu-latest
    steps:
      - name: Write summary of the github context to log
        run: |-
          echo -e "\n\n================ GITHUB CONTEXT SUMMARY ================\n\n"
          echo "          Event Name: ${{ github.event_name }}"
          echo "            Ref Type: ${{ github.ref_type }}"
          echo "                 Ref: ${{ github.ref }}"
          echo "     Ref starts with: ${{ startsWith(github.ref, 'refs/tags/v_') }}"
          echo "            Ref_name: ${{ github.ref_name }}"
          echo "Ref_name starts with: ${{ startsWith(github.ref_name, 'v_') }}"

  kickoff-dev-job:
    if: |
      github.ref_name == 'dev' ||
      github.base_ref == 'dev'
    environment: dev
    runs-on: ubuntu-latest
    concurrency: dev-group
    steps:
      - name: Write vars context to log
        env:
          VARS_CONTEXT: ${{ toJSON(vars) }}
        run: |-
          echo -e "\n\n==================== VARS CONTEXT ====================\n\n"
          echo "$VARS_CONTEXT"

  dev-job:
    if: github.ref_name == 'dev' || github.base_ref == 'dev'
    concurrency: dev-group
    uses: ./.github/workflows/reusable_context_explorer.yaml
    with:
      environment: dev

  kickoff-stg-job:
    if: github.ref_name == 'main' || github.base_ref == 'main'
    environment: stg
    runs-on: ubuntu-latest
    concurrency: stg-group
    steps:
      - name: Write vars context to log
        env:
          VARS_CONTEXT: ${{ toJSON(vars) }}
        run: |-
          echo -e "\n\n==================== VARS CONTEXT ====================\n\n"
          echo "$VARS_CONTEXT"

  stg-job:
    if: github.ref_name == 'main' || github.base_ref == 'main'
    concurrency: stg-group
    uses: ./.github/workflows/reusable_context_explorer.yaml
    with:
      environment: stg

  kickoff-prd-job:
    if: github.event_name == 'release' && github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/v_')
    environment: prd
    runs-on: ubuntu-latest
    concurrency: prd-group
    steps:
      - name: Write vars context to log
        env:
          VARS_CONTEXT: ${{ toJSON(vars) }}
        run: |-
          echo -e "\n\n==================== VARS CONTEXT ====================\n\n"
          echo "$VARS_CONTEXT"

  prd-job:
    if: github.event_name == 'release' && github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/v_')
    concurrency: prd-group
    uses: ./.github/workflows/reusable_context_explorer.yaml
    with:
      environment: prd